nav{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100px;
    background-color: var(--menu-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

nav a{
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    text-decoration: none;
    color: var(--secondary-color);
}

.nav-menu{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.nav-item{
    text-align: center;
    width: 89px;
    margin: 30px 0;
    margin-left: 11px;
    color: var(--secondary-color);
}

#active{
    background-color: #fff;
    padding: 16px 0;
    border-radius: 15px 0 0 15px;
}

#active a{
    color: var(--main-color);
}

.logo{
    margin-top: 44px;
}

.logo-line{
    width: 62px;
    height: 2px;
    background-color: var(--secondary-color);
    margin: 24px 19px;
}

footer{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    align-self: flex-end;
    justify-content: center;
}

.footer-line{
    border-top: 1px solid var(--main-color);
    width: 346px;
    text-align: center;
}
.footer-line > p {
    font-size: 11px;
}

span{
    display: none;
    padding-left: 5px;
}

i{
    font-size: 25px;
}

nav:hover{
    width: 206px;
    transition: width 1s;
}

nav:hover span{
    display:block;
}

nav:hover .nav-item{
    width: 195px;
    transition: width 1s;
}

nav:hover .nav-menu{
    text-align: center;
}

nav:hover .logo-line{
    width: 128px;
    transition: width 1s;
}